<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132180493407-9agfskbsrbv3b9g6il6fo6edquol7uu4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132180493407-9agfskbsrbv3b9g6il6fo6edquol7uu4</string>
	<key>API_KEY</key>
	<string>AIzaSyA3vxik5IW12TzyszNrYxU56mcibI_TvNg</string>
	<key>GCM_SENDER_ID</key>
	<string>132180493407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.verygoodcore.todo-app</string>
	<key>PROJECT_ID</key>
	<string>todo-app-challenge</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-challenge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132180493407:ios:b0a3a1fd2b62b5ca4e87ea</string>
</dict>
</plist>